[Unit]
Description=Emacs: the extensible, self-documenting text editor

[Service]
Type=forking
ExecStart=/usr/bin/dunst
KillSignal=SIGUSR2
Restart=always

[Install]
WantedBy=default.target